* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* FOR CHROME */
  -webkit-font-smoothing: antialiased;
  /* FOR FIREFOX */
  -moz-osx-font-smoothing: grayscale;
}

a:hover{
  color: #663399;
}

html {
  scroll-behavior: smooth;
}


@media screen and (min-width: 320px){

    /* --------- PAGE PRE-LOADER --------- */
  .pl-preloader{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -1em;
    z-index: 100;
  }

  .pl-preloader object {
    height: 15em;
    margin-bottom: 20px;
    margin-top: -5em;
  }



  /* --------- NAVBAR --------- */
  .pl-topbar{
    width: 100vw;
    height: 110px;
    background-color: transparent;
    display: block;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
  }

  .pl-topmenu{
    display: none;
    z-index: 10;
  }


  /* -------- LOGO'S TWO LAYERS AND ICON -------- */
  .pl-logo-back {
    /* height: 100%; */
    height: 110px;
    /* width: 8%; */
    width: 75px;
    margin-left: 60px;
    border-radius: 48px 5px 5px 5px;
    float: left;
    z-index: 11;
  }

  .pl-logo-front {
    height: 100%;
    width: 100%;
    border-radius: 60px 5px 5px 5px;
    margin-left: 0.04em;
    z-index: 12;
  }

  .pl-feat-title{
    position: absolute;
    margin-left: 30px;
    z-index: 13;
    top: 104px;
    padding-left: 8px;
    padding-top: 30px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    height: 386;
    width: 74.9px;
    letter-spacing: -12px;
    color: black;
    background-color: purple;
    font-size: 40px !important;
    border: solid 5px purple;
    border-radius: 0 0 5px 5px;
    /* overflow: hidden; */
    /* white-space: nowrap; */
  }



  .pl-icon {
    height: 110%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  /* --------- BASE PAGE --------- */

  .pl-base-page {
    width: calc(100% - 60px);
    height: calc(100vh - 60px);
    display: table;
    border: 1px solid #800080;
    margin: 30px;
  }

  .pl-sect {
    height: calc(100vh - 30px);
    position: relative;
  }


  /* ---------- SECTION 1 ---------- */

  .pl-sect1-bg {
    height: 100%;
    width: 90%;
    position: absolute;
    background-size: 30%;
    background-image: url("../images/plumbus03b.png");
    background-repeat: no-repeat;
    background-position: 20% 90%;
    opacity: 0.7;
    transform: rotateY(180deg);
  }

  .intro-text {
    margin-top: 20%;
  }

  .pl-btn-getnow {
    position: fixed;
    margin: 1px;
  }


  /* ---------  OVERLAY  --------- */
  .pl-overlay{
    width: 110%;
    height: 110vh;
    background-color: rgba(128, 0, 128, 0.8);
    position: fixed;
    top: -1em;
    left: -0.5em;
    z-index: 20;
    display: none;
  }



  /* ---------  CONTACT MODAL  --------- */
  .pl-contact-modal{
    width: 800px;
    display: table;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    z-index: 21;
    margin: auto;
    border-radius: 30px 0 30px 30px;
    padding: 30px;
    visibility: hidden;
  }

  .pl-Anim-Slide-Top{
    animation: slideFromTop 0.5s forwards cubic-bezier(.24,1.69,.75,.76);
  }

  @keyframes slideFromTop {
    to {
      top: 30%;
      visibility: visible;
    }
  }

  .pl-modal-header p{
    margin-bottom: 35px;
  }

  .pl-modal-close-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: #121212;
    font-size: 30px;
    border: none;
  }

  .pl-modal-btn-X {
    position: absolute;
    top: -4px;
    right: 15.5px;
  }

  .pl-form-field, .pl-form-textarea{
    width: 100%;
    background-color: #121212;
    color: #bcbcbc;
    border: none;
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
  }

  .pl-form-field{
    height: 45px;
  }


  /* ----- ARROW DOWN SMOOTH SCROLL ----- */
  .pl-arrowdown-box {
    display: block;
    visibility: visible;
    opacity: 1;
    position: fixed;
    height: 80px;
    width: 50px;
    border-radius: 50px 50px 0 0;
    transition: opacity 0.5s;
    bottom: 0;
    right: 50%;
    z-index: 15;
  }

  .pl-arrow-shaft {
    width: 4px;
    height: 35px;
    position: relative;
    bottom: -30%;
    margin: auto;
    background-color: black;
  }

  .pl-arrow-point {
    height: 0;
    width: 0;
    border-top: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: auto;
    position: relative;
    bottom: -30%;
  }


/* FADE ON ARROW DOWN ON SCROLL USING AOS ANIM */
  [data-aos="arrowDownFade"] {
    opacity: 1;
    visibility: visible;
    transition-property: visibility, opacity;
  }
  [data-aos="arrowDownFade"].aos-animate {
        opacity: 0;
        visibility: hidden;
    }
  }



/* -------- INFO BOX AND TOGGLE BUTTON --------- */

  .pl-btn-contact{
    width: 45px;
    height: 45px;
    display: block;
    background-image: url("../images/Contact-close-icon.svg");
    background-repeat: no-repeat;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border: none;
    border-radius: 50%;
    z-index: 10;
    transition: all 0.2s ease-out;
    cursor: pointer;
  }

  .pl-btn-contact-Y{
    background-position-y: -45px;
  }

  @keyframes box-grow {
    to{
      height: 165px;
    }
  }

  .pl-info-box{
    display: none;
    width: 215px;
    height: 150px;
    padding: 25px;
    position: fixed;
    bottom: 115px;
    right: 65px;
    z-index: 10;
    border-radius: 5px;
    animation: box-grow 0.2s forwards;
  }

  .pl-contact-arrowcorner{
    height: 0;
    width: 0;
    border-top: 20px solid #1C1C1C;
    border-left: 20px solid transparent;
    display: none;
    position: fixed;
    bottom: 98px;
    right: 65px;
    z-index: 10;
  }

  .pl-social-links a{
    margin-right: 32px;
  }

  .pl-info-box p{
    line-height: 20px;
  }


/* ---------- SECTION 2 ---------- */

  /* ----- LEFT NAVBAR ----- */
  .pl-left-bar{
    display: table;
    width: 145px;
    position: absolute;
    top: 27vh;
  }

  .pl-big-counter-container{
    width: 100%;
    height: 100px;
    display: block;
    margin-bottom: 80px;
    position: relative;
  }

  .pl-big-counter-container::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 25%;
    background-color: black;
    top: 18%;
  }

  .pl-big-counter{
    display: block;
    font-size: 100px;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .pl-big-counter::first-letter{
    color: #808080;
  }

  .pl-left-nav{
    display: table;
    width: 100%;
  }

  .pl-nav-line{
    width: 55%;
    height: 1px;
    background-color: #808080;
    display: block;
    margin-bottom: 80px;
    margin-left: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: deactivateLine 0.5s forwards cubic-bezier(.24,1.69,.75,.76);
  }

  @keyframes deactivateLine {
    to{
      width: 15%;
    }
  }

  .pl-nav-line:last-child{
    margin-bottom: 30px;
  }


  .pl-line-active{
    width: 15%;
    background-color: #bcbcbc;
    height: 1.5px;
    animation: activateLine 0.5s forwards cubic-bezier(.24,1.69,.75,.76);
  }

  @keyframes activateLine {
    to{
      width: 55%;
    }
  }

  .pl-next-prev{
    width: 75%;
    height: 45px;
    border-radius: 0 25px 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .pl-next-prev p{
    display: inline-block;
    margin-top: 0.5em;
  }

  .pl-current-proj {
    margin-left: 7px;
    font-weight: bold;
  }

  .pl-total-projs {
    margin-right: 7px;
  }

  ion-icon{
    cursor: pointer;
  }

  .pl-prev-icon{
    transform: rotate(-180deg);
  }

  /* ---------- PROJECTS SLIDER ---------- */
  .pl-slider-container {
    height: 100vh;
    display: block;
    overflow: hidden;
  }

  .pl-slider-list{
    height: 100vh;
    display: block;
    padding: 0;
    list-style: none;
    transition: transform 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  }

  .pl-slider-item{
    display: block;
    height: 500px;
    float: left;
    margin-top: 31vh;
  }

  .pl-projImg-frame{
    position: relative;
    display: table;
    background-color: #663399;
    padding-top: 60px;
    padding-bottom: 23px;
    bottom: 12%
  }

  .pl-projImg-frame img{
    position: relative;
    left: -10%;
  }

  .pl-projs-website-btn{
    padding-right: 6%;
    position: relative;
    z-index: 10;
    right: -60.5%;
    margin-top: 10px;
    margin-bottom: -12px;
    padding-right: 45px !important;
    color: #bcbcbc;
  }

  .pl-projs-website-btn:hover{
    box-shadow: 4px 5px 8px #000 !important;
    color: #fff !important;
  }

  #proj3-website-btn, #proj4-website-btn{
    right: -61.8%;
  }

  #proj5-website-btn{
    right: -64.2%;
  }

  .pl-access-site-icon{
    position: absolute;
    z-index: 10;
    bottom: 30%;
    right: 12%;
    color: #bcbcbc;
  }

  .pl-website-hover:hover ion-icon{
    color: white !important;
  }


  .pl-projTitle {
    visibility: hidden;
  }

  .pl-projSubtitle{
    opacity: 0;
    transition: opacity 1s 0.7s;
  }


  /* ------- FEATURES PAGE ------- */
  .pl-feat-items{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pl-featImg{
    width: 50%;
    opacity: 0.6;
  }





}




@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

  .pl-topmenu {
    display: table;
    float: left;
    height: 110px;
    margin-left: 10px;
  }

  .pl-topmenu ul{
    list-style: none;
  }

  .pl-topmenu li {
    float: left;
  }

  .pl-topmenu a {
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    margin: 51px 20px 0 20px;
    padding: 0 5px;
    font-weight: 600;
    position: relative;
    font-family: "Proza Libre";
  }

  .pl-topmenu a:hover {
    color: #663399;
    text-shadow: 1px 1px 1px #663399;
  }

  .pl-topmenu a:before {
    content:'';
    width: 100%;
    height: 4px;
    background-color: #800080;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: all 0.1s ease-out;
    transform: scale(0, 1);
    transform-origin: center left;
  }

  .pl-topmenu a:hover:before{
    transform: scale(1, 1);
  }





}

@media screen and (min-width: 1200px){

}

@media screen and (min-width: 1364px){

}

@media screen and (min-width: 1600px){

}


/* --------- AUXILIARY CLASSES --------- */

.pl-text-align-r{
  text-align: right;
}

.pl-toggleDisplayBlock{
  display: block;
}

.pl-toggleDisplayNone{
  display: none;
}

.pl-fadeout {
  animation: fade-out 0.5s forwards ease-in;
}

.pl-fadeout-delay {
  animation: fade-out 0.5s forwards 0.4s ease-in;
}

@keyframes fade-out {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.pl-no-padding{
  padding: 0;
}

.pl-scaleUp{
  animation: scaleUp 0.7s forwards;
}

@keyframes scaleUp {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

.pl-animLetters{
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .05em;
  animation: typing 1.5s steps(20) forwards;
}

@keyframes typing {
  to {
    width: 100%;
    visibility: visible;
   }
}

.pl-appear{
  opacity: 1;
}



/* --------- TEXTS --------- */
p, label{
  color: #bcbcbc;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 0.5em;
}

.pl-title{
  font-size: 24px;
  font-weight: 800;
}

.pl-title-big {
  font-size: 50px;
  font-weight: 800;
}

.pl-prim-font{
  font-family: "Open Sans", sans-serif;
}

.pl-sec-font{
  font-family: "Proza libre", sans-serif;
}

/* --------- TEXT COLORS --------- */
.pl-text-prim-color{
  color: #800080;
}
.pl-text-sec-color{
  color: #663399;
}
.pl-text-lightgray{
  color: #bcbcbc;
}
.pl-text-mdgray{
  color: #808080;
}
.pl-text-darkgray{
  color: #1C1C1C;
}
.pl-text-black{
  color: #000;
}

/* --------- BACKGROUND COLORS --------- */
.pl-bg-prim-color{
  background-color: #800080;
}
.pl-bg-sec-color{
  background-color: #663399;
}
.pl-bg-lightgray{
  background-color: #bcbcbc;
}
.pl-bg-mdgray{
  background-color: #808080;
}
.pl-bg-darkgray{
  background-color: #1C1C1C;
}
.pl-bg-black{
  background-color: #000;
}


/* --------- BUTTONS --------- */
.pl-btn {
  position: relative;
  display: table;
  text-decoration: none;
  border: none;
  font-weight: 600;
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out, opacity 1s 0.7s;
  box-shadow: 4px 5px 8px #800080;
  font-family: "Proza libre", sans-serif;
}

.pl-btn-md {
  height: 38px;
  padding: 0 27px;
  border-radius: 19px;
  font-size: 18px;
}

.pl-btn-lg {
  height: 45px;
  padding: 0 35px;
  border-radius: 25px;
  font-size: 24px;
}

.pl-btn-lg:hover, .pl-btn-md:hover{
  background-color: #800080;
  color: #fff;
  box-shadow: 5px 6px 8px #663399;
}

.pl-btn-center{
  margin: 0 auto;
}

.pl-btn-r{
  float: right;
}

.pl-btn-block{
  display: block;
  width: 50%;
}
